*{
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(38, 50, 56);
}

.app{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header{
  padding: 2vh;
  width: 100%;
}

.projectName{
  position: relative;
  left: 50px;
  font-family: "McLaren", cursive;
  color: white;
}

.createArea{
  display: flex;
  height: auto;
  justify-content: center;
}

.createArea form{
  text-align: right;
  background-color: rgb(66, 70, 72);
  padding: 30px;
  border-radius: 10px;
}

.createArea input{
  background-color: transparent;
  border: none;
  outline: none;
  padding: 7px;
  border-radius: 5px;
  display: block;
  color: white;
}

.createArea button {
  border: none;
  padding: 2px 10px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(245, 186, 19);
}

.notes {
  background: rgb(66, 70, 72);
  border-radius: 7px;
  color: white;
  box-shadow: 0 0px 2px rgb(245, 186, 19);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.notes h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.notes p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.notes hr{
  border: none;
  border-bottom: 1px solid white;
  margin: 10px 0;
}
